.map {
  height: calc(100vh - 60px);
}

.panel {
  margin-right: 1vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
  overflow: auto;
  height: calc(100vh - 60px);
}

.panel-element{
  margin-bottom: 2px;
}